@charset "UTF-8";

html {
  font-size: 16px;
  font-family: Arial;
}

body {
  line-height: 1.8;
  letter-spacing: 1px;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/************************************/
/*              header              */
/************************************/
.header-nav {
  z-index: 50;
  height: 100px;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: #F0E8D8;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 0.2);
}

.logo-img {
  width: 20%;
  display: flex;
  align-items: center;
}

.logo-img img {
  height: 40%;
  padding-left: 20px;
}

.header-nav__list {
  width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-nav__list__item {
  font-size: 1.25rem;
  padding-right: 20px;
}

.header-nav__list__item a {
  display: block;
  color: #333333;
  line-height: 65px;
}

.header-nav__list__item a:hover {
  background-color: #fff;
  transition: 0.25s;
}

.header-nav__list__item .online-shop-button {
  background-color: #000;
  color: #fff;
  padding: 0 10px;
}

.header-nav__list__item .online-shop-button:hover {
  background-color: #fff;
  color: #333333;
  padding: 0 10px;
  transition: 0.25s;

}

/************************************/
/*              main                */
/************************************/
.header-padding {
  padding-top: 100px;
}

.top-wrapper {
  height: 800px;
  display: flex;
  background-image: url(../img/top-img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.top-wrapper__1 {
  width: 33.3333%;
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.top-wrapper__business-hours {
  margin: 0 auto;
}

.top-wrapper__2 {
  width: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-wrapper__2 img {
  width: 70%;
}

.top-wrapper__3 {
  width: 33.3333%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.top-wrapper__tel {
  width: 70%;
  font-size: 1.5rem;
  background-color: #F0E8D8;
  text-align: center;
  line-height: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  margin-right: 30px;
  box-shadow: 5px 5px 3px 1px #fff;
}

.section {
  width: 80%;
  padding: 90px 0;
  margin: 0 auto;
}

.ttl img{
  width: 100%;
}

.ttl__1 {
  text-align: center;
  font-size: 4rem;
  color: #9C7F2A;
  letter-spacing: 5px;
}

.ttl__2 {
  font-size: 2.5rem;
  text-align: center;
}

.ttl__3 {
  font-size: 1.5rem;
}

/************************************/
/*              about               */
/************************************/
.about-contents {
  width: 70%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
}

.about-contents img {
  width: 100%;
}

.about-contents h2 {
  font-size: 2.5rem;
  text-align: center;
}

.about-contents p {
  font-size: 1.25rem;
}

/************************************/
/*               news               */
/************************************/
.news-contents {
  width: 70%;
  padding-top: 85px;
  margin: 0 auto;
}

.content {
  font-size: 1.5rem;
  padding: 15px 0;
}

.content p {
  font-size: 1.25rem;
  padding-left: 40px;
}

/************************************/
/*               menu               */
/************************************/
.menu-content {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.menu-content-img {
  width: 100%;
  padding-top: 100px;
  margin: 0 auto;
}

.menu-content-img img {
  width: 100%;
}

.menu-content .ttl__2 {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 30px;
}

.menu-categorys {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.category {
  width: 50%;
  height: 40%;
}

.category .ttl__3 {
  text-align: center;
  padding-bottom: 30px;
}

.category div {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.category p {
  font-size: 1.25rem;
}

.item {
  width: 75%;
}

.price {
  width: 25%;
  text-align: center;
}

.foods, .set-menu {
  padding-top: 40px;
}


/************************************/
/*            recommend             */
/************************************/
.recommend-item {
  width: 100%;
  height: 60vh;
  display: flex;
  background-color: #F0E8D8;
  align-items: center;
  justify-content: center;
}

.recommend-item-1 {
  margin-top: 100px;
}

.recommend-item:nth-last-of-type(even) {
  flex-direction: row-reverse;
  background-color: #fff;
}

.recommend-item img {
  height: 75%;
  margin: 0 auto;
}

.recommend-item-detail {
  width: 50%;
}

.recommend-item-explanation {
  margin-right: 10%;
}

.recommend-item-explanation h2 {
  text-align: left;
}

.recommend-item-explanation p {
  text-align: left;
  font-size: 1.25rem;
}

.recommend-item:nth-last-of-type(even) .recommend-item-explanation {
  margin-right: unset;
  margin-left: 10%;
}

.recommend-item-explanation h2 {
  font-size: 2rem;
}

/************************************/
/*              access              */
/************************************/
.access-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.map-img {
  width: 50%;
  height: 300px;
  display: flex;
}

.map-img img {
  height: 100%;
  margin: auto auto;
}

.access-item {
  width: 50%;
  height: 300px;
  
}

.access-item-detail {
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto;
}

.access-item .ttl__2 {
  text-align: unset;
  line-height: 40px;

}

.address, .tel {
  font-size: 1.5rem;
  line-height: 24px;
}

.detail {
  font-size: 1.25rem;
  line-height: 20px;
}

/************************************/
/*             contact              */
/************************************/
.contact-content {
  margin-top: 100px;
  text-align: center;
}

.contact-content p {
  font-size: 1.5rem;
}

/************************************/
/*              footer              */
/************************************/
.footer {
  background-color: #F0E8D8;
}

.footer .inner {
  padding: 2.5%;
}

.footer-wrapper__txt {
  font-size: 1.5rem;
  text-align: center;

}

/*リンクの形状*/
/*#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #942D2F;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}*/

#page-top {
  position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateX(100px);
}
/*
#page-top::before {
  content: '\f062';
  font-family: 'Font Awesome 6 Free';
  font-size: 30px;
  font-weight: 900;
  color: #333;
  line-height: 48px;
}
*/

/*　左の動き　*/

#page-top.LeftMove {
  animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*　右の動き　*/

#page-top.RightMove {
  animation: RightAnime 0.5s forwards;
}

@keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(100px);
  }
}